@page
@model IndexModel
@using Microsoft.AspNetCore.Identity;

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@{
    
    var name =  SignInManager.IsSignedIn(User) ? UserManager.GetUserName(User) : "Guest";
    string phone = "02972837872";

}



<div class="text-center">
    <h1 class="display-4">Welcome  @name</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <p>
        @ViewData["Message"]
    </p>
    
   
</div>
